.button {
    width: 100px;
    height: 300px;
}

.font {
    font-size: 15;
}

.count-number {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 100px;   
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }